<header>
  <nav class="main-menu">
    <div class="logo">
      <img src="../assets/img/Logo2.svg" alt="">
    </div>
    <ul class="menu">
      <li class="search">
        <input type="text" placeholder="Buscar eventos">
        <div class="icon-container">
          <img src="../assets/img/search.svg" alt="" srcset="">
        </div>
      </li>
      <li class="login"><span>Ingresar</span> <img src="../assets/img/user.svg" alt="" srcset=""></li>
    </ul>
  </nav>
</header>

<div class="wrapper">
  <div class="banner">
    <img src="../assets/img/banner.png" alt="" srcset="">
    <div class="controls">
      <ul>
        <li class="active"> <img src="../assets/img/active.png" alt="" srcset=""></li>
        <li> <img src="../assets/img/inactive.png" alt=""></li>
        <li> <img src="../assets/img/inactive.png" alt=""></li>
        <li> <img src="../assets/img/inactive.png" alt=""></li>
        <li> <img src="../assets/img/inactive.png" alt=""></li>
      </ul>
    </div>
  </div>
  <div class="show-item">

  </div>
  <div class="show-item">

  </div>
  <div class="show-item">

  </div>
  <div class="show-item">

  </div>
  <div class="show-item">

  </div>
  <div class="show-item">

  </div>
</div>